<ion-header>
  <ion-navbar>
    <p text-center>Ativação por sms 29500</p>
    <ion-buttons end>
      <button ion-button icon-only (click)='infoSms()'>
        <ion-icon style="color:black;" name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content style="margin-top:0px;" padding [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">

  <div  padding>
    <div style="text-align:center;">
      <img class="logo" src="assets/imgs/logo_400.png" />
      <ion-list inset class="no-border">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input clearInput type="email" [(ngModel)]="credentials.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input clearInput type="password" [(ngModel)]="credentials.password"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <ion-row>
      <ion-col>
        <button ion-button class="login-button" (click)="login()">Login</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="link" (click)="goToSignup()">
          <span>Cadastre-se</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="!imgFooter" class="footer">
    <div (click)="goToFogotPassword()">
      <span style="color:black;">Esqueceu a senha?
        <strong>Clique Aqui</strong>.</span>
    </div>
  </ion-toolbar>

  <div *ngIf="imgFooter">
    <div>
      <span style="color:white;">Esqueceu a senha? <strong>Clique Aqui</strong>.</span>
    </div>
    <img width="100%" height="60" src="assets/imgs/rodapesalvador.png">
  </div>

</ion-footer>