<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Histórico</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)='showFilter()'>
          <ion-icon name="funnel"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Você pode cancelar uma compra de créditos clicando no botão vermelho</p>
  <div [hidden]="!(switch == 'show')">
    <ion-row>
      <ion-col>
        <p style="margin-bottom:0px;">Data Inicial</p>
        <ion-item>
          <!-- <ion-label>Data Incial</ion-label> -->
          <ion-input disabled="true" type="text" name="{{data_inicial}}" (click)="openDatepicker(1)" [(ngModel)]="data_inicial"
            ng-readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <p style="margin-bottom:0px;">Data Final</p>
        <ion-item>
          <!-- <ion-label>Data Final</ion-label> -->
          <ion-input disabled="true" type="text" name="{{data_final}}" (click)="openDatepicker(2)" [(ngModel)]="data_final"
            ng-readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label>Filtrar Resultados</ion-label>
      <ion-select (ionChange)="filterHistoric($event)" [(ngModel)]="type" multiple="false">
        <ion-option selected value="CES">Compra ou estorno SYSZONA</ion-option>
        <ion-option value="U">Utilizou</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button class="button" (click)="searchHisto()" ion-button color="#387ef5" block>Pesquisar</button>
    </ion-item>
  </div>

  <timeline endIcon="call">
    <h2 style="text-align: center;">{{none}}</h2>
    <timeline-item style="width: -webkit-fill-available;" *ngFor="let item of items">
      <timeline-time style="margin-bottom:-30px;" [time]="item.time"></timeline-time>

      <ion-icon style="margin-bottom:-30px;" [name]="item.icon"></ion-icon>
      <ion-card>
        <ion-card-header>
          {{item.title}}
          <p style="color:crimson;font-size: 14px;" *ngIf="item.canceled">Cancelado</p>
        </ion-card-header>
        <ion-card-content>
          <span style="color: #606060">
            <b text-center>{{item.status}}</b>
            <p>{{item.content[0].msg}}</p>
            <b (click)="showCode(item.content[0].msg1)" >Clique para ver</b>
          </span>
          <b style="color:crimson;font-size: 14px;" >{{item.troca}}</b>
          <div *ngFor="let items of item.content[1].items">
            <ion-item>
              {{items[0]}}
              <ion-badge item-end>{{items[1]}}</ion-badge>
            </ion-item>
            <ion-item (click)="presentConfirm(item.id,items[1])" style="color:crimson; font-size:15px;" *ngIf="item.check==1" >
              Estornar ?
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>
    </timeline-item>
  </timeline>

  &emsp;
</ion-content>

<ion-footer style="margin-bottom:60px;">
  <div text-center>
    <p style="margin-bottom:-5px;">Pagina {{historic_info.current_page}} de {{historic_info.total_pages}} </p>
    <button (click)="previousPage()" ion-button color="light" icon-left [disabled]="historic_info.current_page==1">
      <ion-icon name='arrow-back'></ion-icon>
      Voltar
    </button>
    <button (click)="nextPage()" ion-button color="light" icon-right [disabled]="!(historic_info.total_pages > 1) || (historic_info.total_pages==historic_info.current_page)">
      Próximo
      <ion-icon name='arrow-forward'></ion-icon>
    </button>
  </div>
</ion-footer>
<app-footer></app-footer>