<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!isDataComplet" padding>
  <button (click)="refresh()" ion-button color="secondary" round outline>Recarregar</button>
</ion-content>

<ion-content *ngIf="isDataComplet" padding>
  <p>{{user.name}}</p>
  <p>{{actualCity.name}}</p>
    <ion-list>
        <ion-item>
          <ion-icon name="locate" item-start ></ion-icon>
          <ion-label>Cidade Atual</ion-label>
          <ion-select [(ngModel)]="CidadeAtual">
            <ion-option selected value="nes">Quixáda</ion-option>
            <ion-option value="n64">Juazeiro do Norte</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-grid style="margin-bottom:10px;">
          <ion-row>
            <ion-col col-33>
              <ion-card (click)="geo()" class="card card-1">
                  <ion-icon name="cash"></ion-icon><br>
                  <b style="font-size: 1.3rem;">Saldo</b>
                  <p>12 R$</p>
              </ion-card>
              <ion-card class="card card-1">
                  <ion-icon name="card"></ion-icon><br>
                  <b style="font-size: 1.3rem;">Cads</b>
                  <p>10</p>
              </ion-card>
              <ion-card class="card card-1">
                  <ion-icon name="warning"></ion-icon><br>
                  <b style="font-size: 1.3rem;">Alertas</b>
                  <p>3</p>
              </ion-card>
            </ion-col>
          </ion-row>
      </ion-grid>

      <b style="font-size: 2rem;">Meus Veículos</b>

      <ion-list>
        <button ion-item *ngFor="let plaque of plaques">
          {{plaque.plaque}}
        </button>
      </ion-list>

      <button (click)="parkCar()" style="margin-top:50px;" ion-button color="secondary" block outline>Estacionar</button>

</ion-content>
<app-footer></app-footer>
