<!--
  Generated template for the CheckoutPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pagamento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div  style="text-align: center;">
    <button *ngIf="hasCardStored" (click)="useCardStored()" ion-button color="primary" ion-button round >Usar Cartão Salvo</button>
</div>
  <div padding>
    <ion-segment [(ngModel)]="paymentMethod" >
      <ng-container *ngFor="let payment of paymentMethods">
        <ion-segment-button [hidden]="true" style="text-align:center;"   *ngIf="payment.name=='CREDIT_CARD'" [value]="payment.name" >
          Cartão de Crédito
        </ion-segment-button>  
      </ng-container>
    </ion-segment>
  </div>

  <div [ngSwitch]="paymentMethod">
    

    <div *ngSwitchCase="'BOLETO'" >
      area do boleto
    </div>

    <div  *ngSwitchCase="'CREDIT_CARD'" >
        <form [formGroup]="creditCardForm">
            <ion-item>
                <ion-icon name="ios-contact" item-start color="primary"></ion-icon>
                <ion-input clearInput=true type="text" formControlName="senderName" placeholder="Nome do Titular" [(ngModel)]="creditCard.senderName"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-icon name="ios-finger-print" item-start color="touchId"></ion-icon>
                  <ion-input clearInput=true type="tel"  decimal="true" formControlName="senderCPF" placeholder="CPF do Titular" [brmasker]="{mask:'000.000.000-00', len:14}" [(ngModel)]="creditCard.senderCPF"></ion-input>
                </ion-item>
                <ion-item>
                  <!--TODO input validas para ativa concluir pagamento-->
                    <ion-icon name="ios-card" item-start color="black"></ion-icon>
                    <ion-input clearInput=true type="tel" [brmasker]="{len:16}" formControlName="cardNumber" placeholder="Número do cartão"  [(ngModel)]="creditCard.cardNumber"></ion-input>
                </ion-item>
            
          <ion-item>
            <ion-icon name="ios-card" item-start color="black"></ion-icon>
            <ion-input type="tel" clearInput=true formControlName="cvv" placeholder="Código de Segurança" [brmasker]="{mask:'000', len:3}" [(ngModel)]="creditCard.cvv"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="ios-calendar" item-start color="black"></ion-icon>
            <ion-input  required="true" clearInput=true min="1" max="12" type="tel" formControlName="expiryMonth" placeholder="Mês" [brmasker]="{mask:'00', len:2}" [(ngModel)]="creditCard.expiryMonth"></ion-input>
            <ion-input  required="true" clearInput=true min="0" max="99" type="tel" formControlName="expiryYear" placeholder="Ano" [brmasker]="{mask:'00', len:2}" [(ngModel)]="creditCard.expiryYear"></ion-input>
          </ion-item>
        </form>
    </div>

    <div *ngSwitchCase="'BALANCE'" >
        area do balanço
    </div>

    <ion-card>
      <ion-card-header text-center>
        Total a pagar: <strong> R$ {{price}}.00</strong>
      </ion-card-header>
      <ion-card-content>
        <button ion-button full [disabled]="!creditCardForm.valid" (click)="makePayment()">Concluir pagamento</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>